

/* 공통 */
*{
    margin:0 auto;
}

body{
    background-color: #F2F2F0;
}

a{
    text-decoration: none;
    color: #000;
}

/* 폰트 소스*/
@font-face{font-family:'PretendardVariable'; src:url('../font/PretendardVariable.woff2');}
@font-face{font-family:'SwilyBright-Italic'; src:url('../font/SwilyBright-Italic.woff');} /*영문만*/
@font-face{font-family:'Nexa-Heavy'; src:url('../font/Nexa-Heavy.woff');} /*영문만*/


/* 폰트 패밀리 공통 클래스 */

.pretendard{
    font-family:'PretendardVariable';
}

.swilybright{
    font-family: 'SwilyBright-Italic';
    letter-spacing: 1px;
}

.nexaheavy{
    font-family: 'Nexa-Heavy';
}

/* 폰트 사이즈 공통 클래스 */

.font16{
    font-size:1rem;
}

.font18{
    font-size: 1.15rem;
}

.font20{
    font-size:1.25rem;
}

.font24{
    font-size:1.5rem;
}

.font28{
    font-size:1.75rem;
}

/* PC 디자인 */

    /*  header(메뉴-고정) */
    #header{
        position: fixed;
        top:0;
        left:0;
        width:100%;
        height:auto;
        line-height: 45px;
        padding:10px 0;
        z-index: 1;
        background-color:rgba(242,242,240,0.3);
        backdrop-filter: blur(15px);
        border-bottom: 1px solid #000;
    }

    #hd-95{
        width:95%;
    }
    #hd-left{
        float:left;
    }
    .hd-right{
        float:right;
    }

    .at-menu{
        display: inline-block;
        padding:0 20px;
    }

    .at-menu a{
        text-decoration: none;
        color:#000;
        font-weight: 300;
    }
    .at-menu a:hover{
        text-decoration: underline;
    }
    #at1-gp{
        padding-right:0;
    }


    /*  section1 (제목)  */
    #sc1{
        clear: both;
        width:100%;
        margin-top:100px;
    }
    #sc1-wrap{
        width:95%;
    }
    #sc1-wrap a{
        text-decoration: none;
        color:#000;
    }
    #sc1-left{
        float: left;
    }
    #sc1-right{
        float: right;
    }
    
    /* section2 (이미지) */
    #sc2{
        clear: both;
        width:85%;
        display: block;
        padding:50px 0 100px;
    }
    #sc2 img{
        width:100%;
    }

    /* button (링크) 고정 */
    #link{
        padding: 10px 32px;
        border-radius:100%;
        position:fixed; 
        bottom:5%;
        right:5%;
        color: #000;
        border: 1px solid #000;
        background-color:rgba(242,242,240,0.3);
        backdrop-filter: blur(15px);
        cursor: pointer;
        transition: 0.3s;
    }

    #link:hover{
        background-color: #000;

    }

    #link:hover a{
        color: #fff;
    }

    /* 모바일 설정 */
    @media screen and (max-width:700px) {

        
    /* 헤더 */
    #hd-95{
        display: flex;
        flex-direction: column;
        width: 95%;
        line-height: 40px;
        padding:10px 0;
        text-align: left;
    }

    /*섹션1*/
    #sc1{
        width: 100%;
        padding-top: 50px;
    }

    /* 섹션2 */
        #sc2{
            clear: both;
            width:95%;
        }
        
    }