*{margin:0 auto; list-style-type: none; text-decoration: none;}
@font-face{font-family: 'LeferiPointWhite'; src:url('../font/LeferiPointWhite.woff');}
@font-face{font-family: 'LeferiPointWhiteOblique'; src:url('../font/LeferiPointWhiteOblique.woff');}


/* 상단 배너 */
.banner {position: fixed; top:0; left:0; width: 100%; height:30px;  margin:0 auto; padding:0; overflow: hidden; z-index:999;}
.banner ul {position: absolute; margin: 0px; padding:0; list-style: none; }
.banner ul li {float: left; margin:0; padding:0;} */


/* header */
header{clear:both; width:100%; height:50px;}
#hd90p{width:90%; height:20px; margin-top:5px;  padding-top:30px; }
.hd{display:inline-block;}
.btn{float:right; box-sizing: border-box; margin-left:30px; width:70px; height:50px; color:gray; border:none; background-color: white; font-family: 'LeferiPointWhite'; cursor: pointer; font-size:14px; }
#btn3{width:100px;}
/* 로그인/조인 버튼ver .btn:hover{background-color:green; border-radius: 50%; color:white;} */
.btn:hover{color:black; cursor: pointer; font-weight: bold;}

/* 로그인 모달 */
.login-modal{display:none; position:fixed; top:0; left:0; z-index:9; padding-top:25vh; width:100%; height:100%; overflow:auto; background-color:rgba(0,0,0,0.4);}
.login-modalcontent{background-color:olive; margin:auto; padding:30px; width:30%; height:50vh;}
.login-close{color:white; float:right; font-size:28px; font-weight:bold;}
.login-close:hover{color:black; text-decoration:none; cursor:pointer;}
.login-box{width:60%; margin:0 auto; margin-top:5vh;}
.login-modaltext{color:white; font-family: 'LeferiPointWhite'; font-size:18px; font-weight: bold;}
.login-input{width:100%; border:none; height:30px; }
#login-btnwrap{margin:auto;  text-align:center; margin-top:5vh;}
.login-btn{width:60px; height:60px; color:white; background-color:rgba(0,0,0,0); border:none; font-family: 'LeferiPointWhite'; cursor: pointer; display:inline-block; font-size:18px; text-align: center;}
.login-btn:hover{font-family: 'LeferiPointWhiteOblique'; font-weight: bold; color:black;}
#login-btn2{margin-right:50px;}

.pullDown{animation-name: pullDown;
    -webkit-animation-name: pullDown;
    animation-duration: 0.7s;	
	-webkit-animation-duration: 0.7s;

	animation-timing-function: ease-out;	
	-webkit-animation-timing-function: ease-out;	

	transform-origin: 50% 0%;
	-ms-transform-origin: 50% 0%;
	-webkit-transform-origin: 50% 0%; 		
}

@keyframes pullDown {0% {transform: scaleY(0.1);}
	40% {transform: scaleY(1.02);}
	60% {transform: scaleY(0.98);}
	80% {transform: scaleY(1.01);}
	100% {transform: scaleY(0.98);}				
	80% {transform: scaleY(1.01);}
	100% {transform: scaleY(1);}							
}

@-webkit-keyframes pullDown {0% {-webkit-transform: scaleY(0.1);}
	40% {-webkit-transform: scaleY(1.02);}
	60% {-webkit-transform: scaleY(0.98);}
	80% {-webkit-transform: scaleY(1.01);}
	100% {-webkit-transform: scaleY(0.98);}				
	80% {-webkit-transform: scaleY(1.01);}
	100% {-webkit-transform: scaleY(1);}		
}

/* nav */
nav{clear:both; width:100%; height:200px; font-family: 'LeferiPointWhite';}
#m_nav_90p{display: none;}
#nav90p{width:90%; height:200px; }

	/* nav 로고*/
	#homelogo{width:20%; height:200px; float:left; position:relative; top:-50px;}
	#hd1{width:250px; height:250px; cursor: pointer; }
	#hd1 img{width:100%;}

	/* nav 메뉴 */
	#container{width:60%; height:200px; margin: 0; padding: 0; float:left; text-align: center;}
	.menu{display:inline-block;}
	ul.menu .mnmn{ float:left; padding:2px 10px; position: relative; margin-top:140px; font-size:20px;}
	ul.menu li a{z-index: 1; display:block; line-height: 40px; color:black; position: relative; font-weight: bold;  background-color:rgba(255,255,255,0.8); padding:0 35px;}
	ul.menu li a:hover{color:#b94d35;}
	ul.sub{font-size:17px; display: none; margin:0; padding:0; list-style-type: none; text-decoration: none; text-align: center; }

	#m_container{display:none;}

	/* nav 검색 */
	#container2{width:20%; height:50px; float:right; padding-top:150px; }
	#search{ width:55%; background-color:rgb(230, 230, 230); color:black; border-radius: 30px; border:none; padding:8px 20px; font-family: 'LeferiPointWhite'; font-size:14px;  float:right; }
	#schbtn{border:none; width:45px;  cursor: pointer; background-color:rgba(0,0,0,0);  float:right; }
	#schbtn img{width:100%;}



/* 본문 배경 */
#body-back{width:100%; background-image: url('../img/body-back.jpg'); background-repeat: no-repeat; background-size: 100%; padding-bottom: 100px;}
#m_body-back{display:none;}

/* section1 */
	#sc1{clear: both; width:100%;  margin-top:20px;  min-height:150px; }
	#sc1 a:hover{cursor: url(../img/cursor_great.png), auto;}
	.m_slide_img{display:none;}

	/*슬라이드*/
	.slideshow-container{position:relative; margin:0 auto; box-sizing:border-box; }
	/* 좌우 화살표 */
	.prev, .next{cursor:pointer; position:absolute; top:50%; width:auto; padding:16px; margin-top:-22px; color:white; font-weight: bold; font-size:18px; transition:0.6s, ease; border-radius: 0 3px 3px 0;}
	/* 오른쪽 화살표 */
	.next{right:0px; border-radius:3px 0 0 3px;}
	.prev:hover, .next:hover{background-color:rgba(255,255,255,0.5);}

	/* 닷 닷 닷 */
	.dot{cursor:pointer; width:13px; height:13px; margin:0 2px; background-color:rgba(255, 255, 255, 0.534); display:inline-block; border-radius: 50%; transition:background-color 0.2s ease; position:relative; top:-60px; z-index: 1;}
	.active, .dot:hover{background-color:#ffffff;}

	/* fade 애니메이션 */
	.fade{animation-name:fade; animation-duration:3s;}

	@keyframes fade{from{opacity: 1;} to{opacity: 1;}}

	


/*section2*/
#m_sc2{display:none;}

#sc2{clear:both; width:100%; height:420px;  font-family: 'LeferiPointWhite';}
#sc2_90p{width:90%; height:420px; text-align: center;}
#sc2_t1{width:80%; font-size:30px; font-weight: bold; color:black; text-decoration: none; padding:25px 10px; text-align: left;}
.sc2_product{width:300px; height:340px;  margin-left:40px; display:inline-block;}
.sc2_product:hover{cursor: url(../img/cursor_great.png), auto; background-color: rgba(238, 255, 199, 0.5); border-radius: 50px; }
.sc2_product:hover .sc2_text{font-weight: 900;}
.sc2_img{width:280px; height:280px; }
.sc2_text{width:280px; height:50px; padding-top:10px; font-size:18px; text-align: center; color:black; font-weight: 500; text-decoration: none;}

#sc2_banner1{width:15%; height:330px; background-color:#a5a53d; float:right; box-sizing: border-box; padding:50px 30px; font-size:18px; color:black; }
#sc2_banner1:hover{ background-color:#808000; cursor: url(../img/cursor_great.png), auto; box-shadow:2px 2px 2px 0px rgba(0,0,0,.5);}
.sc2_banner1_p1{font-weight: bold; font-size:24px;}
#sc2_arrow1{width:40%; float: right; margin-top:50px;}

/*article1*/
#m_at1{display:none;}

#at1{clear:both; width:100%; height:120px; margin-top:100px; padding:10px 0; }
#at1_div1{width:60%; height:120px; border: none; border-radius: 30px; background-color:lemonchiffon; font-family: 'LeferiPointWhite'; text-decoration: none; color:black; text-align: center; box-sizing: border-box; padding-top:20px; transition: 0.3s;}
#at1_div1:hover{cursor:url(../img/cursor_great.png), auto; background-color: #ba4d34; color: white;}
#at1_div1 p{font-size:30px; font-weight: bold;}

/*section3*/
#m_sc3{display:none; }
#sc3{clear:both; width:100%; height:600px; margin-top:120px; font-family: 'LeferiPointWhite';}
#sc3_90p{width:90%; height:600px;  text-align: center; }
#sc3_title{width:100%; padding:10px 0; text-align: center; font-weight:900; font-size:40px; font-family: 'LeferiPointWhiteOblique'; }
#sc3_title a{text-decoration: none; color:black;}
.sc3_con{width:370px; height:450px; margin:40px 30px 0 0; display: inline-block;}
#sc3_con4{margin:0;}

/* .sc3_div{display:none; width:370px; padding-top:450px; background:linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, .7)); }
.sc3_con:hover .sc3_div{display:block;}
.sc3_text1{text-align: left; margin-left:30px; font-size:20px; color:white; position: relative; top:-150px; }
.sc3_text2{font-size:26px; font-weight: 900; color:white; position:relative; top:-100px; } */


/*section4*/
#m_sc4{display:none;}
#sc4{clear: both; width:100%; height:400px; margin-top:100px; font-family: 'LeferiPointWhite';}
#sc4_90p{width:90%; height:400px; text-align: center;}
	/*sc4_left*/
#sc4_left{width:50%; height:400px;float: left;}
.sc4_title{font-size:30px; font-weight: bold; width:100%; text-align: left; box-sizing: border-box; padding:10px 20px;}
.sc4_table{ width:90%; height:300px; border-bottom: 1px solid silver; border-collapse: collapse; margin-top:20px; }
.sc4_td1{width:70%; text-align: left; border-top: 1px solid silver; box-sizing: border-box; padding:0 20px;}
.sc4_td2{width:30%; text-align: right; border-top: 1px solid silver; font-size: 14px; box-sizing: border-box; padding:0 20px;}
.sc4_tr:hover{background: rgba(0, 0, 0, 0.137); transition: 0.5s; cursor: pointer;}

	/*sc4_right*/
#sc4_right{width:45%; height:400px;  float:right; margin-right:3%;}
#sc4_r_con{width:80%; height:330px; float:left; margin-left:3%; padding-top:20px;}
#sc4_r_img{width:280px; height:280px; float:left; }
#sc4_r_text{width:280px; height:280px; box-sizing: border-box; padding:80px 0 80px 30px; float:left;  text-align: left;  font-size:18px;}
#sc4_r_text p{font-size:15px;}
#sc4_r_con:hover{font-weight: bold; color:#808000; cursor: pointer;}

#sc4_r_btns{width:10%; height:330px;  float:right; margin-right:2%; }
.sc4_sns{width:50px; height:50px; background-color:#ddd; border-radius: 50%; font-size:24px; line-height: 50px; margin-bottom:20px; border: none; cursor: pointer;}
#sc4_sns1{margin-top: 10px; color:#808000;}

/*article2*/
#m_at2{display:none;}
#at2{clear:both; width:100%; height:120px; margin-top:100px; padding:10px 0; }
#at2_div1{width:60%; height:120px; border: none; border-radius: 30px; background-color:lemonchiffon; font-family: 'LeferiPointWhite'; text-decoration: none; color:black; text-align: center; box-sizing: border-box; padding-top:20px; transition: 0.3s;}
#at2_div1:hover{cursor:  url(../img/cursor_great.png), auto; background-color: #ba4d34; color: white;}
#at2_div1 p{font-size:30px; font-weight: bold;}


/*footer1*/
#m_ft1{display: none;}
#ft1{clear: both; width:100%; height:150px; background-color:rgb(243, 243, 243); padding:50px 0; vertical-align: top;}
#ft1_90p{width:90%; height:150px; }
#ft1_left{width:10%; height:150px; float:left; cursor: pointer;}
#ft1_logo{width:150px; height:150px; float: left;}
#ft1_btn1{font-size: 10px; padding:2px 6px; background-color:#ddd; border:none; border:1px solid silver; cursor: pointer;}
#ft1_cen{width:50%; height:150px; padding-left:50px; color:gray; font-size:13px; float:left; line-height: 25px; border-right:1px solid silver; box-sizing: border-box; padding-top:20px; }
#ft1_logo img{width:100%;}
#ft1_right{width:30%; height:150px; float:right; }
#ft1_r1{font-family: 'LeferiPointWhite'; font-size:24px; font-weight: 900; text-align: right; width:100%; padding:20px; float:right; color:grey;}
.ft1_sns{width:50px; height:50px; background-color:silver; border-radius: 50%; float:right; margin-left:10px; cursor: pointer; font-size:28px; text-align: center; line-height: 50px; color:rgb(241, 241, 241);}
#ft_sns1{margin-right:10px;}
.ft1_sns:hover{background-color:rgb(54, 54, 54); opacity: 0.8;}

/*footer2*/
#m_ft2{display:none;}
#ft2{clear: both; width:100%; height:40px; padding-top:10px; background-color:rgb(243, 243, 243); border-top:1px solid silver; text-align: center;}
#ft2_50p{width:50%; height: 40px;  display: inline-block;}
.ft2_btn{cursor: pointer; background-color:rgba(0,0,0,0); border: none; border-right:1px solid silver; color:gray; font-size:12px; padding-right:8px;}
#ft2_btn3{color:darkred; font-weight: bold;}
#ft2_btn4{border: none;}

/*footer3*/
#m_ft3{display:none;}
#ft3{clear: both; width:100%; height:20px; padding:10px 0 15px 0; background-color:rgb(243, 243, 243); border-top:1px solid silver; }
#ft3_90p{width:90%; height:20px; text-align: center; font-size: 12px; color:rgb(163, 163, 163);}


/*  	모바일 설정		*/
@media screen and (max-width:700px) {
	/*header*/
	

	/* body-back */
	#body-back{background-image: url(../img/m_body-back.jpg); background-repeat: no-repeat; background-size: 100%;}
	/*로고-서치바*/
	nav{display:none;}
	#m_nav_90p{display:block; clear: both; width:100%; }
	#m_homelogo{width:70%; }
	#m_homelogo img{width:100%;}
	#m_container2{width:70%; padding-top: 20px; }
	#m_search{width:80%; height:40px; background-color:rgb(230, 230, 230); color:black; border-radius: 30px; border:none; box-sizing: border-box; padding:8px 20px; font-family: 'LeferiPointWhite'; font-size:14px; }
	#m_schbtn{border:none; width:15%; max-width: 50px; cursor: pointer; background-color:rgba(0,0,0,0);  float:right; }
	#m_schbtn img{width:100%;}

	/*메뉴바*/
	#m_container{display:block; clear:both; width:100%; height:40px; margin: 0; padding: 0; font-family: 'LeferiPointWhite'; text-align: center;}
	.m_menu{display:inline-block;}
	ul.m_menu .m_mnmn{ float:left; padding:2px; position: relative;}
	ul.m_menu li a{z-index: 1; display:block; line-height: 40px; color:black; position: relative; font-weight: bold;  background-color:rgba(255,255,255,0.8); padding:0 10px;}
	ul.m_menu li a:hover{color:#b94d35;}
	ul.m_sub{font-size:14px; display: none; margin:0; padding:0; list-style-type: none; text-decoration: none; text-align: center; }

	/*section1(슬라이드)*/
	.slide_img{display:none;}
	.m_slide_img{display:block;}

	/*section2*/
	#sc2{display:none}
	#m_sc2{clear:both; display:block; widtH:100%; font-family: 'LeferiPointWhite'; padding-top:50px;}
	#m_sc2_90p{width:90%; text-align: center;}
	#m_sc2_90p a{text-decoration: none; color:black;}
	#m_sc2_t1{ font-weight: bold; font-size:28px;}
	.m_sc2_product{width:48%; display: inline-block; margin-top:20px; padding:10px 0 20px 0;}
	.m_sc2_product img{width:100%;}
	.m_sc2_product:hover{font-weight: bold; cursor:url(../img/cursor_great.png), auto; background-color:rgba(238, 255, 199, 0.5); border-radius: 20px;}

	/*article1*/
	#at1{display:none;}
	#m_at1{display:block; clear: both; width:100%; heighT:100px; margin-top:80px;}
	#m_at1_div1{width:80%; height:100px; border: none; border-radius: 30px; background-color:lemonchiffon; font-family: 'LeferiPointWhite'; text-decoration: none; color:black; text-align: center; box-sizing: border-box; padding-top:22px; transition: 0.3s;}
	#m_at1_div1:hover{cursor:url(../img/cursor_great.png), auto; background-color: #ba4d34; color: white;}
	#m_at1_div1 p{font-size:20px; font-weight: bold;}


	/*section3*/
	#sc3{display:none; }
	#m_sc3{display:block; clear:both; width:100%;  margin-top:80px; font-family: 'LeferiPointWhite';}
	#m_sc3_90p{width:90%;  text-align: center; }
	#m_sc3_title{width:100%; padding-top:10px; text-align: center; font-weight:900; font-size:40px;}
	#m_sc3_title a{ text-decoration: none; color:black;}
	.m_sc3_con{width:80%; margin-top:40px; }
	.m_sc3_con img{width: 100%;}

	/*section4*/
	#sc4{display:none;}
	#m_sc4{display:block; clear:both; width:100%; margin-top:100px; font-family: 'LeferiPointWhite';}
	#m_sc4_90p{width:90%; text-align: center;}
	
		/*sc4_left*/
	#m_sc4_left{width:90%; }
	.m_sc4_title{font-size:26px; font-weight: bold; width:100%; text-align: left; box-sizing: border-box; padding:10px 20px;}
	.m_sc4_table{ width:100%; height:300px; border-bottom: 1px solid silver; border-collapse: collapse; margin-top:20px; }
	.m_sc4_td1{width:80%; text-align: left; border-top: 1px solid silver; box-sizing: border-box; padding:0 20px;}
	.m_sc4_td2{width:20%; text-align: right; border-top: 1px solid silver; font-size: 12px; box-sizing: border-box; padding:0 20px;}
	.m_sc4_tr:hover{background: rgba(0, 0, 0, 0.137); transition: 0.5s; cursor: pointer;}

	/*sc4_right*/
	#m_sc4_right{width:90%; margin-top:40px; text-align: center;}

	#m_sc4_r_con{width:100%;;}
	#m_sc4_r_img{width:90%}
	#m_sc4_r_img img{width:100%;}
	#m_sc4_r_text{width:100%; box-sizing: border-box; text-align: center;  font-size:18px; font-weight: 900; margin-top:15px;}
	#m_sc4_r_text p{font-size:15px; font-weight: 400;}
	#m_sc4_r_con:hover{color:#808000; cursor: pointer;}

	#m_sc4_r_btns{width:90%; display:inline-block; padding-top:20px;}
	.m_sc4_sns{width:50px; height:50px; border-radius: 50%; font-size:24px; line-height: 50px; margin-right:20px; margin-bottom:20px; border: none; cursor: pointer; color:#ddd; background-color:rgba(0,0,0,0);}
	#m_sc4_sns1{color:#808000;}
	#m_sc4_sns4{margin-right:0;}

	/*article1*/
	#at2{display:none;}
	#m_at2{display:block; clear: both; width:100%; heighT:100px; margin-top:80px;}
	#m_at2_div1{width:80%; height:100px; border: none; border-radius: 30px; background-color:lemonchiffon; font-family: 'LeferiPointWhite'; text-decoration: none; color:black; text-align: center; box-sizing: border-box; padding-top:22px; transition: 0.3s;}
	#m_at2_div1:hover{cursor:url(../img/cursor_great.png), auto; background-color: #ba4d34; color: white;}
	#m_at2_div1 p{font-size:20px; font-weight: bold;}


	/*footer1*/
	#ft1{display:none;}
	#m_ft1{display:block; clear: both; overflow:auto; width:100%; background-color:rgb(243, 243, 243); padding:20px 0;}
	#m_ft1_90p{width:90%;}
	#m_ft1_left{width:30%; float:left; cursor: pointer;}
	#m_ft1_left img{width:100%;}
	#m_ft1_right{width:60%;  float:right; }
	#m_ft1_r1{font-family: 'LeferiPointWhite'; font-size:20px; font-weight: 900; text-align: right; width:100%; padding:20px; float:right; color:grey;}
	.m_ft1_sns{width:8vw; height:8vw; background-color:silver; border-radius: 50%; float:right; margin-left:10px; cursor: pointer; font-size:20px; text-align: center; line-height: 40px; color:rgb(241, 241, 241);}
	#m_ft_sns1{margin-right:10px;}
	.m_ft1_sns:hover{background-color:rgb(54, 54, 54); opacity: 0.8;}
	
	#m_ft1_cen{widtH:90%; float:left; text-align: center; margin-left:5%; color:gray; font-size:12px; float:left; line-height: 20px;  box-sizing: border-box; padding-top:20px; }
	#m_ft1_btn1{font-size: 10px; padding:2px 6px; background-color:#ddd; border:none; border:1px solid silver; cursor: pointer;}

	/*footer2*/
	#ft2{display:none;}
	#m_ft2{display:block; clear: both; width:100%; padding:10px 0 15px 0; background-color:rgb(243, 243, 243); border-top:1px solid silver; text-align: center;}
	#m_ft2_50p{width:90%;  display: inline-block;}
	.m_ft2_btn{cursor: pointer; background-color:rgba(0,0,0,0); border: none; border-right:1px solid silver; color:gray; font-size:12px; padding-right:8px;}
	#m_ft2_btn3{color:darkred; font-weight: bold;}
	#m_ft2_btn4{border: none;}

	/*footer3*/
	#ft3{display: none;}
	#m_ft3{display:block; clear: both; width:100%; height:20px; padding:10px 0 15px 0; background-color:rgb(243, 243, 243); border-top:1px solid silver; }
	#m_ft3_90p{width:90%; height:20px; text-align: center; font-size: 12px; color:rgb(163, 163, 163);}



}