*{margin: 0 auto;}

/*font*/
@font-face{font-family:'SCDream3'; src:url('../font/SCDream3.woff');}
@font-face{font-family:'SCDream5'; src:url('../font/SCDream5.woff');}


/*body*/
body{min-width: 1200px;}

/*header*/
header{width:90%; height:100px; padding-top:30px;}
#hd-left{width:100px; height:70px; float: left;}
#hd-right{
    float:right;
    font-size:18px; font-family: 'SCDream5';
}
.hd-menu{padding:45px 30px 0 30px; display: inline-block;}
.hd-menu a{color:#000; text-decoration: none;}
.hd-menu a:hover{color:#ed1f55; transition: 0.15s;}

/*nav*/
nav{
    clear:both; width:90%; padding:8% 0 10% 0;
    background-image: url('../img/main-top.jpg'); background-size: 100%; background-repeat: no-repeat;
    font-family: 'SCDream5'; text-align: center; color:#fff;
}
nav img{width:100%;}
nav p{font-size:60px; font-weight: bold;}
nav span{font-size:20px;}


/*section1*/
#sc1{clear: both; width:90%; text-align: center;}
.sc1-div{
    width:33%; padding:90px 0;
    font-family: 'SCDream3'; font-weight: bold; color:#646464;
    font-size:16px; line-height: 20px;
}
.sc1-div p{
    font-family: 'SCDream5'; color:#ef7932;
    font-size:36px; font-weight: bold;
}
.sc1-div p span{color:#ed1f55;}
#sc1-left{float:left;}
#sc1-center{display: inline-block;}
#sc1-right{float:right;}

/*section2*/
#sc2{
    clear:both; width:100%; height: fixed;
    margin-top:5%; padding:4% 0 2% 0;
    background-color: #fdece9;
}
.mySlides {display:none}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  z-index: 9;
  width: auto;
  margin-top: -20%;
  color: white;
  font-size: 80px;
}

/* "next button" 오른쪽 위치선정 */
.prev{float: left; margin-left: 5%;}
.next {float: right; margin-right: 5%;}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {color:#ed1f55;}


/* Number text */
.numbertext {font-family: 'SCDream5'; text-align: center; color:#646464; font-size: 18px;}
.numbertext p{font-size: 42px; font-weight: bold; color:#ed1f55;}
.numbertext a{color: #ed1f55; text-decoration: none;}
.numbertext button{
  border:1px solid  #ed1f55; border-radius: 30px; padding:7px 20px;
  background-color: #fdece9; cursor: pointer;
  font-family: 'SCDream3'; color: #ed1f55; font-size: 16px;
  transition: 0.2s;
}
.numbertext button:hover{background-color: #ed1f55; color: #fff;}

.slideimg{width:60%; padding-top:7%;}

.active, .dot:hover {
  background-color: #717171;
}
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }

/*section3*/
#sc3{
  clear: both; width: 100%; overflow: hidden;
  box-sizing: border-box; padding-left: 5%; margin-top: 10%;
  font-family: 'SCDream3'; text-align: center;
}
#sc3-title{
  padding-bottom: 5%;
  font-family: 'SCDream5'; color:#ef4523;
  font-weight: bold; font-size:32px;
  position: relative; left: -5%;
}
.sc3-slide{width:22%; }
.sc3-img{width:80%; cursor: pointer;}
.sc3-img img{width:100%;}
.sc3-text{width:100%; color:#ccc; padding:3% 0; line-height: 30px; cursor: pointer;}
.sc3-text p{font-size:20px; color:#646464; font-weight: bold;}
.ap-bar{width:33%; height:3px; margin:0; padding:0;}

/*section4*/
#sc4{clear: both; width:80%; font-family:'SCDream5'; margin-top: 10%;}
.sc4-div{width:50%}
#sc4-left{float: left; background-color: #f2f2f2;}
.sc4-left-title{
  width:88%; padding-top:5%; padding-bottom: 3%;
  color:#646464; font-size: 28px; font-weight: bold;
  border-bottom: 1px solid #646464;
}
.sc4-left-list{
  width:88%; padding:3.5% 0;
  font-family: 'SCDream3'; color:#646464; font-size: 20px;
}
.sc4-left-list li{padding:2% 0;}
.sc4-left-list ul a{text-decoration: none; color:#646464;}
.sc4-left-list ul a:hover{text-decoration: underline;}
#sc4-right{float: right;}
#sc4-right a{color:#fff; text-decoration: none;}
.sc4-right-div{width:100%;}
.sc4-right-title{
  width:88%; padding-top:5%; padding-bottom:10.5%;
  color:#fff; font-size: 28px; font-weight: bold;
}
.sc4-right-title p{font-size: 18px; font-weight: 300; line-height: 54px;}
#sc4-right-div1{background-color:#ef4523;}
#sc4-right-div2{background-color: #ed1f55;}

/*footer*/
footer{
  clear:both; width:100%; margin-top: 10%;
  background-color: #c8c8c8; overflow: auto;
  font-family: 'SCDream3'; color:#fff;
}
.ft-div{padding:5% 0;}
#ft-left{width:50%; float:left; text-align: center; margin-top:2%;}
#ft-left img{width:20%;}
#ft-right{width:47%; float: left; margin-left:3%;}
#ft-right a{text-decoration: none; color:#ed1f55;}